/*Contient les règles générales pour la typographie de votre projet polices tailles de texte espacements*/



.section__paragraph{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 15px;
}

.article-descriptionb,
.article-titleb,
.schedule__day-name,
.schedule__time,
.section__paragraph_b {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.6;
    margin-bottom: 15px;

}
