
.footer {
    background-color: #000;
    border-top: 1px solid #000;
    color: white;
    text-align: center;
    display: block;
    
}

.footer__logo {
    width: 80px;
    height: auto;
}
.footer__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__subtitle {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer__text {
font-size: 12px;
 margin-bottom: 10px;
}

.footer__logo-link {
    width: 30px;
    margin: 5px;
    display: inline-block;
}

.footer__social-logo {
    width: 30px;
    height: auto;
    margin: 0 5px;
}

.footer__social-logo:hover {
    opacity: 0.8;
    cursor: pointer;
}