/*Les styles du header (logo, menu, etc.).*/
/* Header */
.header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.header__menu {
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 10px 0;
}

.header__logo {
    width: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.header__title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin-bottom: 5px;
}

.header__nav {
    margin-top: 10px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}


.header__image {
    width: 100%;
    max-width: 600px;
    height: auto;
}


.header__nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header__nav-link {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.header__nav-link:hover {
    text-decoration: underline;
}


