body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


.carousel {
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.carousel__day {
    text-align: center;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.carousel-container {   
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    margin-right: 500px;
    
    }


.carousel-slide {
    min-width: 100%;
    text-align: center;
    
}

.carousel__image {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    width: 100%;
    max-width: 420px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin:auto;
        
    }


.carousel-buttons {
    text-align: center;
    margin-top: 10px;
}

.carousel-button {
    font-size: 18px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.carousel-button:hover {
    background: #333;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

